<!-- core/navbar.component.html -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #e3f2fd;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">SINTEC</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reporte_one" routerLinkActive="active">
          Reporte Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Reporte Dos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Reporte Tres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reporte_five" routerLinkActive="active">
          Reporte Inventario</a>
      </li>
    </ul>
  </div>
</nav>
